<form id="biography" style="text-align:left">
  <div id="age">
    <p><b>Age:</b></p>
      <input type="text" name="ageRadio">
  </div>
  <div id="gender">
    <p><b>Gender:</b></p>
    <input type="radio" name="genderRadio" value="male"> Male<br>
    <input type="radio" name="genderRadio" value="female"> Female<br>
    <input type="radio" name="genderRadio" value="na"> Prefer not to say<br>
    <input type="radio" name="genderRadio" value="other"> Prefer to self-describe:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="other_text">
  </div>
  <div id="education">
    <p><b>Highest level of education:</b></p>
    <input type="radio" name="educationRadio" value="1"> Some high school (no diploma)<br>
    <input type="radio" name="educationRadio" value="2"> High school<br>
    <input type="radio" name="educationRadio" value="3"> Technical/trade/vocational training<br>
    <input type="radio" name="educationRadio" value="4"> Some college (no degree/Associate's degree)<br>
    <input type="radio" name="educationRadio" value="5"> Batchelor's degree<br>
    <input type="radio" name="educationRadio" value="6"> Master's degree<br>
    <input type="radio" name="educationRadio" value="7"> Professional degree<br>
    <input type="radio" name="educationRadio" value="8"> Doctoral degree<br>
  </div>
  <div>
    <br><br>
    Please answer the following honestly - none of these answers will affect your payment in any way. 
  </div>
  <div id="language">
    <p>Are you a <b>native speaker</b> of English?</p>
    <input type="radio" name="languageRadio" value="0"> No<br>
    <input type="radio" name="languageRadio" value="1"> Yes<br>
  </div>
  <div id="google">
    <p>Did you google the answer to any of the questions here?</p>
    <input type="radio" name="googleRadio" value="0"> No<br>
    <input type="radio" name="googleRadio" value="1"> Yes<br>
  </div>
  <div>
    <br><button type="button" id='submitButton'>Submit</button>
  </div>
</form>
